lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

*.iml
*.ipr
*.iws
.idea/

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#do not overwrite config file
config.json
